name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7"

      - name: Terraform Init
        run: terraform -chdir=infra init

      - name: Terraform Plan
        run: terraform -chdir=infra plan

      - name: Terraform Apply
        if: success()
        run: terraform -chdir=infra apply -auto-approve

      - name: Show web page
        if: success()
        run: curl -s http://localhost:8080

      - name: Terraform Destroy
        run: terraform -chdir=infra destroy -auto-approve